<% content_for(:auth_header) do %>
  <div class='text-center text-muted-foreground'>
    <h1 class='mt-6 text-center text-3xl font-bold tracking-tight text-muted-foreground'>
      <%= t "devise.#{controller_name}.#{action_name}.header" %>
    </h1>

    <% if devise_mapping.recoverable? && controller_name == 'passwords' %>
      <span>Remember your password?</span>
      <%= link_to 'Back to login', new_session_path(resource_name), class: 'text-primary/90 hover:text-primary' %>
    <% else %>
      <span>Back to</span>
      <%= link_to 'home', root_path, class: 'text-primary/90 hover:text-primary' %>
    <% end %>
  </div>
<% end %>
