<%- if devise_mapping.omniauthable? %>

  <%= render_separator class: 'my-4' %>

  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= form_for "Login",
      url: omniauth_authorize_path(resource_name, provider),
      method: :post,
      data: {turbo: "false"} do |f| %>
      <%= render_button(class: "bg-muted dark:bg-gray-200 w-full hover:bg-gray-200/90 text-muted-foreground") do %>
        <%= render partial: 'components/icons/google' %>
        <span class="ml-2">Sign in with Google</span>
      <% end %>
    <% end %>
  <% end %>
<% end %>
