<aside class='h-fit sm:h-full w-full sm:w-1/3'>
    <nav class='h-full w-full flex flex-row sm:flex-col items-end sm:items-start gap-4 sm:gap-0 p-4'>
        <h1 class='text-3xl mb-8'>Settings</h1>
        <%= link_to 'test' %>
        <%= link_to 'test' %>
        <%= link_to 'test' %>
    </nav>
</aside>