<%= turbo_frame_tag 'user_notifications' do %>
    <div class='py-4'>
        <% if @notifications.present? %>
        <ul>
            <% @notifications.each do |notification| %>
                <%= notification.message %>
            <% end %>
        </ul>
        <% else %>
            No notifications to display
        <% end %>
    </div>
<% end %>